*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

header{
    background-color: white;
    display: grid;
    place-items: center;
}

ul{
    list-style-type: none;
}
li{
    display: inline-block;
}

a{
    font-size: 30px;
    color: #F4D03F;
    padding: 25px 20px;
    text-decoration: none;
    display: inline-block;
    border-bottom: 5px solid transparent;
    transition: .8s;

}

a:hover{
    background-color: beige;
}

#banner{
    background-image: url(https://i0.wp.com/d2s30hray1l0uq.cloudfront.net/frontend/Models-for-your-Product-Photography-best.jpg);
    background-size: cover;
    height: 700px;
}
h1{
    font-size: 60px;
    text-align: center;
    font-style: italic;
    font-family: cursive;
    color: #0B5345;
}
h2{
    font-size: 50px;
    text-align: center;
    color:aquamarine;
    font-style: italic;
    font-family: cursive;
}

h3{
    font-size: 35px;
    text-align: center;
    color: aqua;
    font-family: cursive;
}
div{
    width: 400px;
}
img{
    width: 100%;
}
